<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <div class="container-fluid">
            <h4 class="navbar-brand navLogo lead MYLIB" id="welcome" style="color: aliceblue;"><a class="navbar-brand"
                    href="/">MYLIB</a></h4>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_content">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav_content">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link lead thin" href="/authors">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lead" href="/authors/new">Add Author</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lead" href="/books">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lead" href="/books/new">Add Book</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
