<br>
<div align="center">
    <h2 class="display-4">Most Recent</h2>
</div>
<br>
<% books.forEach(book => { %>
<div class="container fix-img">
    <div class="box zoom">
        <a href="/books/<%= book.id %>">
            <img height="250" width="210" src="<%= book.sendCoverPath %>">
        </a>
    </div>
</div>
<% }); %>