.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.thin{
    font-weight: 100;
}
.mybtns {
    display: flex;
    flex-wrap: wrap;
}

.mybtns button{
   margin: 5px 10px 5px 0px;
} 

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: DodgerBlue; */
}

.authorList{
    margin: 5px 25px;
}
  
.input-alignment > *{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px ;
}

.upload textarea{
    height: 25%;
    resize: none;
}
/* ----------------------------------------for-image----------------------------------- */
  .box{
    float: left;
  }
  .box img{
    margin: 15px;
    border-radius: 15px;
  }
  .box button{
    margin: 5px 6px 15px 22.5px;
  }
  .box a{
    width: 10px;
  }
  @media screen and (min-width: 1200px) {
    .fix-img{
      margin-left: 5%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .fix-img{
      margin-left: 10%;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .fix-img{
      margin-left: 10%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .fix-img{
      margin-left: 13%;
    }
  }
  @media screen and (max-width: 556px) {
    .fix-img{
      margin-left: 10%;
    }
  }