html,body{
  background: linear-gradient(to right, #99ffcc 0%, #ffffff 80%);
  /* background-size: cover; */
}



.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.thin{
    font-weight: 100;
}
.mybtns {
    display: flex;
    flex-wrap: wrap;
}

.mybtns button{
   margin: 5px 10px 5px 0px;
} 

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: DodgerBlue; */
}

.authorList{
    margin: 5px 25px;
}
  
.input-alignment > *{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px ;
}

.upload textarea{
    height: 25%;
    resize: none;
}
/* ----------------------------------------for-image----------------------------------- */
  .box{
    float: left;
  }
  .box img{
    margin: 15px;
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
  }
  .box button{
    margin: 5px 6px 15px 22.5px;
  }
  .box a{
    width: 10px;
  }
  @media screen and (min-width: 1200px) {
    .fix-img{
      margin-left: 5%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .fix-img{
      margin-left: 10%;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .fix-img{
      margin-left: 10%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .fix-img{
      margin-left: 13%;
    }
  }
  @media screen and (max-width: 556px) {
    .fix-img{
      margin-left: 10%;
    }
  }

  .zoom{
    transition: transform .3s;
  }

  .zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  .zoom img:hover{
    box-shadow: 5px 10px 10px #888888;
  }
  .MYLIB {
    font-size: 60px;
    font-family: "BeyondControl";
    color: rgb( 255, 255, 255 );
    text-shadow: 1px 1px 10px #e3c058;
    z-index: 2;
  }
  
  .nav-item a{
    font-weight: 200;
    text-shadow: 1px 1px 10px #e3c058;
  }
  
  .display-4{
  text-shadow: 1px 1px 10px #1d2124;
  }
