
<input type="text" class="form-control" id="newAuthor" placeholder="Enter Name" name="name" value="<%= author.name %>">



<!-- <label>Name</label>
<input type="text" name="name" value="<%= author.name %>"> -->
